<h1><strong>Editing Book</strong></h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>

    <% end %>
 </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <div class="Tou">Title</div>
  <%= f.text_field :title %>
  
  <div class="Tou">Body</div>
  <%= f.text_area :body %>
  
  <div class="Tou"><%= f.submit 'Update Book' %></div>
  
  
<% end %>


 <div class="Tou"> <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %> </div>
 
  



